#_:clj-kondo/ignore
{:fn-map {":import" [:flow-body {:style :respect-nl}]
          ":require" [:flow-body {:style :respect-nl}]
          "comment" [:flow-body {:style :respect-nl}]}
 :map {:comma? false
       :lift-ns? false
       :nl-separator? false
       :sort? false
       :unlift-ns? true}
 :style :community
 :vector {:option-fn-first #(if (string? %2) {:vector {:respect-nl? true}})}
 :width 80}
