{:aliases {:dev {:extra-deps {com.rpl/specter {:mvn/version "1.1.4"}
                              metosin/malli {:mvn/version "0.9.2"}
                              org.clojure/clojure {:mvn/version "1.11.1"}}
                 :extra-paths ["src " "resources"]}}
 :mvn/repos {"maven" {:url "https://packages.confluent.io/maven"}}}
