{:aliases
 {:dev
  {:extra-deps {com.rpl/specter {:mvn/version "1.1.4"}
                org.clojure/clojure {:mvn/version "1.11.1"}}
   :extra-paths ["src " "resources"]}}
 :mvn/repos {"maven" {:url "https://packages.confluent.io/maven"}}}
